.pop-wp {
  height: 70vh;
  padding: 30px;

  .numText {
    font-size: 26px;
    line-height: 60px;
    margin-right: 30px;
  }

  .addBtn {
    height: 80px;
    position: absolute;
    margin-bottom: 20px;
    width: 600px;
    font-size: 37px;
    margin-left: 42px;
    bottom: 70px;
  }
}